body {
    background: url("/static/paper.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background: #ffffff65;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    width: 450px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}


textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cccccc46;
    font-size: 14px;
    resize: none;
}


button {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}


button:hover {
    background: #0056b3;
}


.result {
    background: #e8f5e9;
    margin-top: 20px;
    padding: 15px;
    border-left: 4px solid #28a745;
    border-radius: 6px;
}


.result span {
    color: #28a745;
    font-weight: bold;
}